altgraph==0.17.4
build==1.2.2.post1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
idna==3.10
packaging==24.1
pillow==10.4.0
pip-tools==7.4.1
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyperclip==1.9.0
pyproject_hooks==1.2.0
requests==2.32.3
setuptools==75.2.0
tk==0.1.0
urllib3==2.2.3
wheel==0.44.0
